body { margin: 0 10px; }
body, input, button { font-family: Cousine, "Courier New", Sans-serif; }

h1 { margin: 0 0 30px 0; }
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  font-family: "Courier New", Sans-serif;
  padding: 10px 10px;
  text-decoration:none;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  text-shadow: #fff 1px 1px 15px;
  -webkit-font-smoothing: antialiased;
}
h1 a:hover { color: #000; background-color: #fff; }

summary, ul li, ul pre { margin: 0; padding: 5px 10px; font-weight: normal; }
summary { background-color: #eee; }
summary.passed { background-color: #393; }
summary.failed, h3.error { background-color: #c33; }
summary.ignored { background-color: #f80; }
summary a { color: white; text-decoration: none; }
summary a:hover { text-decoration: underline; }

ul { padding: 0; margin: 5px 0; }
ul li { list-style: none; }
li a { text-decoration: none; }
li a:hover { text-decoration: underline; }

p.failed, li.failed a, p.error, li.error a { color: #c33; }
p.ignored, li.ignored a { color: #f80; }
p.passed, li.passed a { color: #393; }

label { padding-left: 10px; }
abbr, .abbr { border-bottom: 1px dotted #ccc; }
form { position: absolute; top: 10px; right: 10px; }
section { border: 1px solid #ccc; margin: 10px 0; }

.code { margin-left: 25px; }
.code .c { color: #999; }
.code .s { color: #d00; }
.code .v { color: purple; }
.code .f { color: blue; }
.code .x { color: #090; }

summary::-webkit-details-marker {
  color: #fff;
  margin-right: 2px;
}
summary:focus { outline-style: none; }

span.pct {
  display: inline-block;
  width: 45px;
  text-align: right;
}

/* coverage */
ol.coverage-source li {
  font-family: monospace;
  margin-left: 30px;
  color: #999;
}

ol.coverage-source li pre {
  display: inline;
  padding: 0 2px;
  color: #000;
}

ol.coverage-source li.wanted pre { background-color: #f66; }
ol.coverage-source li.covered pre { background-color: #6f6; }




