body { margin: 0 10px; }
body, input, button { font-family: Cousine, "Courier New", Sans-serif; }

h1 { margin: 0 0 30px 0; }
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  font-family: "Courier New", Sans-serif;
  padding: 10px 10px;
  text-decoration:none;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  text-shadow: #fff 1px 1px 15px;
  -webkit-font-smoothing: antialiased;
}
h1 a:hover { color: #000; background-color: #fff; }

summary, h4, pre { margin: 0; padding: 5px 10px; font-weight: normal; }
summary { background-color: #eee; }
summary.passed { background-color: #393; }
summary.failed, h3.error { background-color: #c33; }
summary.ignored { background-color: #f80; }
summary a { color: white; text-decoration: none; }
summary a:hover { text-decoration: underline; }
h4 a { text-decoration: none; }
h4 a:hover { text-decoration: underline; }

p.failed, h4.failed a, p.error, h4.error a { color: #c33; }
p.ignored, h4.ignored a { color: #f80; }
p.passed, h4.passed a { color: #393; }

label { padding-left: 10px; }
abbr, .abbr { border-bottom: 1px dotted #ccc; }
form { position: absolute; top: 10px; right: 10px; }
section { border: 1px solid #ccc; margin: 10px 0; }

.code .c { color: #999; }
.code .s { color: #d00; }
.code .v { color: purple; }
.code .f { color: blue; }
.code .x { color: #090; }

summary::-webkit-details-marker {
  color: #fff;
  margin-right: 2px;
}
summary:focus { outline-style: none; }



/* coverage */

.coverage-summary {
    border: 1px solid #ccc;
    margin: 10px 0;
}

li.module-coverage {
    list-style-type: none;
}

.source
{
    font-family: monospace, -moz-fixed !important;
    white-space: pre;
}

.lineno
{
    background-color: #eee;
    margin-left: 0;
    margin-right: 0.25em;
    float: left;
    width: 3em;
}

.covered-line { background-color: green; }
.wanted-line { background-color: red; }
